{% extends 'homepage/template.html' %}
{% block title %}Trang chủ{% endblock %}

{% block list-post %}
{% load static %}

<div class="neo-content-area">
  <div class="neo-page-card neo-post-list">
    <div class="neo-breadcrumb-bar">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'homepage:Homepage' %}">Trang chủ</a></li>
          {% for i in categories %}
            {% if i.id == category_id %}
            <li class="breadcrumb-item active" aria-current="page">{{ i.name }}</li>
            {% endif %}
          {% endfor %}
        </ol>
      </nav>
    </div>
    <ul class="list-group list-group-flush">
      {% for post in posts %}
      <li class="list-group-item">
        <a href="{% url 'homepage:post' post_id=post.id %}" class="news-title">
          <p>{{ post.title }}</p>
        </a>
        <p class="neo-card__meta">{{ post.createdate|date:"d/m/Y H:i" }}</p>
      </li>
      {% empty %}
      <li class="list-group-item">
        <p class="neo-card__meta mb-0">Chưa có bài viết trong chuyên mục này.</p>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
  integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'assets/script.js' %}"></script>
{% endblock %}
