




{% extends 'homepage/template.html' %}
{% block title %} Trang chủ {%endblock%}
{%block post%}
{% load static %}

            <!----------------------------------------------------------content-left---------------------------------->

            <!----------------------------------------------------------content-right---------------------------------->
            <div class="col-sm-9">
              <ul class="list-group">
                <li class="list-group-item active" aria-current="true" style="background-color: #023EB6;">
                  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" style="pađding:0; margin: 0">
                    <ol class="breadcrumb" style='padding:0; margin:0'>
                      <li class="breadcrumb-item"><a href="{% url 'homepage:Homepage' %}"  style="color: #fff; font-weight: bold; font-family: Roboto; text-decoration: none">Trang chủ</a></li>
                      <li class="breadcrumb-item active" aria-current="page" style="color: #fff; font-weight: bold; font-family: Roboto; text-decoration: none; text-transform: uppercase">{{category.name}}</li>
                    </ol>
                  </nav>
                </li>
                <li class="list-group-item" style="padding: 10px 50px;"> 

                  <p style="text-transform: uppercase; font-weight: 500; font-size: 25px; font-family: Roboto; color: #023EB6">{{post.title}}</p>
                  <div class="timeline">
                    <p class="news-time text-muted" style="font-size: 16px; font-family: Roboto;">{{ post.createdate|date:"d/m/Y H:i" }}, lượt đọc: <span style="font-family: Roboto;">51</span></p>
                  </div>
                  {%if files != none%}
                  {%for file in files%}
                  <a href="{{file.pdf_file.url}}" target="_blank"
                    download style="text-decoration: none; margin-bottom: 10px;"><i class="fa-solid fa-download"></i> <span>Tải file {{ forloop.counter }}: {{ file.pdf_file.name|slice:'7:' }}</span></a>
                  <div class="_df_book" height="600" webgl="true" backgroundcolor="#d1d1d1"
                    source="{{file.pdf_file.url}}" id="df_manual_book"
                    style="border-radius: 10px; margin-bottom: 20px;">
                  </div>
                  {%endfor%}
                  {%endif%}
                </li>
              </ul>

              <section class="mt-4 new-near">
                <p style="text-transform: uppercase; color: #023EB6; font-weight: 500, font-family: Roboto; font-size: 20px">Tin cùng chuyên mục</p>
                <div style="width: 100%; border-top: 2px solid #333"> </div>
                {%for post in posts%}
                <div class="row mt-3">
                  <div class="col-sm-5">
                    <img class="" src="{{post.image_file.url}}" alt="" style="width: 100%">
                  </div>
                  <div class="col-sm-7">
                    <p style="text-transform: uppercase; font-weight: bold, font-family: Roboto; font-size: 18px"> {{post.title}}</p>
                    <p class="time my-1" style="font-size: 14px"> {{ post.createdate|date:"d/m/Y H:i" }}</p>

                  </div>
                </div>
                <div class="line"> </div>
                {%endfor%}
              </section>



            </div>


            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{%endblock%}