{% extends 'adminpageSIMCODE/base.html' %}
{% load static %}
{% block Phaser %}
<h3 class="i-name">
    Khoá học
</h3>
<div class="course-right">
    <div class="course-right-manage">
        <form id="Phaser" action="{% url 'Phaser' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Thêm ứng dụng</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>

                        <div class="modal-body">

                            <div class="course-add">
                                <div class="mb-3">
                                    <label for="" class="form-label">Tên ứng dụng</label>
                                    <input type="text" name="phaser_name" class="form-control course_name" required>
                                </div>
                                <div class="mb-3 ">
                                    <label for="file-phaser" class="form-label mr-2">Phaser path</label>
                                    <input type="text" name="phaser_path" class="form-control course_name" required>
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label"> Thể loại </label>
                                    <select name="phaser_type" id="grade" class="form-select">
                                        <option value="0">Lựa chọn của bạn</option>
                                        <option value="1">Game</option>
                                        <option value="2">Simulation</option> 
                                    </select>
                                </div>
                                <div class="mb-3 ">
                                    <label for="file-image" class="form-label mr-2">Hình ảnh</label>
                                   <input type="file" name="file-image" class="form-control" required>
                                </div>
                               
                                <div class="mb-3">
                                    <label class="form-label mr-2">Nội dung</label>
                                    <textarea class="ckeditor" cols="80" id="editor1" name="ckeditor1" rows="10"></textarea>
                                </div>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                            <button type="submit" class="btn btn-primary">Thêm</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
        <div class="mb-3 course-right-add">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                + Thêm
            </button>
        </div>
    </div>
</div>
{% endblock %}